<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <b ng-bind="'Remitente'"></b>:
            <!-- Agregamos un enlace al detalle del remitente:
            -->
            <a ng-href="/#/user/{{$ctrl.mail.user_id}}">
                <span ng-bind="$ctrl.mail.remitente"></span>
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <b ng-bind="'Fecha de envío'"></b>:
            <span ng-bind="$ctrl.mail.fecha | date">
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <b ng-bind="'Asunto'"></b>:
            <span ng-bind="$ctrl.mail.asunto"></span>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <pre ng-bind="$ctrl.mail.cuerpo"></pre>
        </div>
    </div>
</div>
