<h1 ng-bind="'Inbox'"></h1>
<table class="table table-striped table-hover">
    <thead>
        <tr>
            <td ng-bind="'Asunto'"></td>
            <td ng-bind="'Remitente'"></td>
            <td ng-bind="'Fecha/hora'"></td>
            <td ng-bind="'Acciones'"></td>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="email in $ctrl.emails track by email.id">
            <!-- Cambiamos el binding a un elemento `<a>` para permitir la
                 navegación a un email específico.
                 Ver 'router.js' para definición de la nueva ruta.
                 Usamos `ng-href` ver explicación en documentación oficial:
                    https://docs.angularjs.org/api/ng/directive/ngHref
               -->
            <td><a ng-href="/#/mail/{{email.id}}" ng-bind="email.asunto"></a></td>
            <td ng-bind="email.remitente"></td>
            <td ng-bind="email.fecha"></td>
            <td>
                <button class="btn btn-default" ng-bind="'Eliminar'"></button>
            </td>
        </tr>
    </tbody>
</table>
