<h1 ng-bind="$ctrl.title"></h1>
<table class="table table-striped table-hover">
    <thead>
        <tr>
            <td ng-bind="'Asunto'"></td>
            <td ng-bind="'Remitente'"></td>
            <td ng-bind="'Fecha/hora'"></td>
            <td ng-bind="'Acciones'"></td>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="email in $ctrl.emails track by email.id">
            <td>
                <a ng-href="/#/mail/{{email.id}}" ng-bind="email.asunto"></a>
            </td>
            <td>
                <a ng-href="/#/user/{{email.user_id}}" ng-bind="email.remitente"></a>
            </td>
            <td ng-bind="email.fecha | date"></td>
            <td>
                <button class="btn btn-default" ng-bind="'Eliminar'"></button>
            </td>
        </tr>
        <tr ng-if="$ctrl.emails.length < 1">
            <td colspan="4" ng-bind="'No hay correos disponibles.'"></td>
        </tr>
    </tbody>
</table>
